{{ define "main" }}

<section class="blog section" id="blog">
  <div class="container">
    {{ partial "page-headline.html" . }}
    <div class="row justify-content-between service-2">
      {{ range (.Paginator 6).Pages }}
      <article class="col-sm-6">
        <div class="post-item service-item m-3 p-4">
          {{ with .Params.image }}
          <div class="post-thumb">
            <img class="img-fluid shadow rounded" src="{{ . | absURL }}" alt="Generic placeholder image">
          </div>
          {{ end }}
          <div class="post-title">
            <h3 class="mt-0">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
          </div>
          <div class="post-meta">
            <ul class="list-inline">
              <li class="list-inline-item">
                <span>{{ partial "date.html" (dict "date" .Date "ctx" $) }}</span>
              </li>
              {{ with .Params.workpackage}}
              <li class="list-inline-item">
                <span>|</span>
              </li>
              <li class="list-inline-item">
                <span>{{ i18n "package"}} {{ . }}</span>
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="post-content">
            <p>{{ .Summary }}</p>
          </div>
          <a class="btn btn-main" href="{{ .Permalink }}">{{ i18n "read_more" }}</a>
        </div>
      </article>
      {{ end }}
      <div class="col-12 text-center">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}
