{{ define "main" }}

<section class="blog-single section">
    <div class="container">
        {{ partial "page-headline.html" .Parent }}
        <div class="row service-2">
            <div class="col-md-12 mx-auto service-item">
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                  <ul class="list-inline">
                    {{ with .Date}}
                      <li class="list-inline-item">
                          <span class="text-muted">{{ partial "date.html" (dict "date" . "ctx" $) }}</span>
                      </li>
                      {{ end }}
                    {{ with .Params.workpackage}}
                    <li class="list-inline-item">
                      <span class="text-muted">|</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="text-muted">{{ i18n "package"}} {{ . }}</span>
                    </li>
                    {{ end }}
                  </ul>
                </div>
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}
