{{ define "main" }}

<section class="blog-single section">
    <div class="container">
        {{ partial "page-headline.html" .Parent }}
        <div class="row service-2">
            <div class="col-md-12 mx-auto service-item">
                {{ with .Params.Image }}
                    <img src="{{ . | absURL }}" class="w-100 mb-3" alt="News Image">
                {{ end }}
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>{{ .Date.Format .Site.Params.dateFormat }}</span>
                        </li>
                    </ul>
                </div>
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}