// section.section:nth-of-type(odd):not(:first-of-type) {
//     background-color: #fff;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  &.line:before {
    position: absolute;
    left: -12%;
    top: 18px;
    content: "";
    display: inline-block;
    width: 12%;
    height: 3px;
    background-color: #ffa535;
    background-image: linear-gradient(100deg, #f9643d, #fe2a77);
    background-image: linear-gradient(100deg, #f9643d, #fe2a77);
  }
}

section {
  &.bg-white {
    .team-member {
      background-color: #f7f7f7 !important;
      color: #000 !important;

      .member-content {
        * {
          color: #000 !important;
        }
      }
    }
  }

  &.bg-white {
    .service-2 {
      .service-item {
        background-color: #f7f7f7;
      }
    }
  }

  .team-member {
    border: 1px solid #eee;
  }

  &#clinics {
    a {
      h4 {
        color: #000;

        &:hover {
          color: unset;
        }
      }
    }
  }
}

#mdcontent {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1vh !important;

    &:not(:first-child) {
      margin-top: 3.5rem !important;
    }
  }
}

img + .img-copyright {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  color: #000;
  font-size: 0.65rem;
  font-weight: 300;
  margin: 0;
  position: absolute;
  padding: 3px;
  right: 0;
}

.btn-main {
  &:hover,
  &:focus,
  &:active {
    background-image: linear-gradient(100deg, #fe2a77, #f9643d) !important;
    color: #fff;
  }
  &:active {
    font-weight: 600;
  }
}