{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.clinics }}
    {{ if $.Site.Params.clinics.enable }}
    {{ "<!-- clinics Section Start -->" | safeHTML }}
    <section class="section bg-gray" id="clinics">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with $.Site.Params.clinics.topTitle }}<h4>{{ . }}</h4>{{ end }}
                        {{ with $.Site.Params.clinics.title }}<h2>{{ i18n . }}</h2><span class="border"></span>{{ end }}
                        {{ with $.Site.Params.clinics.subtitle }}<p>{{ . }}</p>{{ end }}
                    </div>
                </div>
            </div>


            {{ range $index,  $element:= .clinics }}
              {{ partial "team-row.html" $element }}
            {{ end }}
        </div>
    </section>
    {{ "<!-- clinics Section End -->" | safeHTML }}
    {{ end }}
{{ end }}
