<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     /* Links */
     a:hover {
          color: #e85e6e;
     }
     /* Header Buttons on Startpage */
     a.btn {
          color: white;
          background-color: #e85e6e;
     }
     a.btn:hover {
          background-color: #c94f5e;
     }

     /* Scroll Menu on Startpage */
     a.fn-item:hover {
          color: #eeeeee;
     }

     a.fn-item.active {
          color: #e85e6e;
          opacity: 1;
     }

     /* Content / Sections */
     .post-holder {
          color: 22343A;
          width: 100%;
          height: 100%;
          background: #BBC7CC;
          position: relative;
     }

     .post-holder.odd {
          color: #3a4145;
          background: #ffffff;
     }

     body {
          color: #3A4145;
     }

     #site-head {
          position: relative;
          display: table;
          width: 100%;
          height: 100%;
          margin-bottom: 0rem;
          text-align: center;
          color: #3A4145;
          background: #ffffff no-repeat center center;
          background-size: cover;
     }

     .header-logos {
          justify-content: space-evenly;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 85vw;
          margin-top: -10vh;
          margin-bottom: 10vh;
          margin-left: auto;
          margin-right: auto;
          
     }

     .header-logos img {
          display: inline-block;
          vertical-align: middle;
          /* margin: 2rem auto; */
          /* width: 80vw; */
          /* padding: 1rem 1rem; */
          max-width: 500px;
          margin-top: auto;
          margin-bottom: auto;
     }

     .inner {
          max-width: 85vw;
          margin-left: auto;
          margin-right: auto;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://www.ionos.de/tools/favicon-generator -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="57x57"
     href="{{ "/apple-icon-57x57.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="60x60"
     href="{{ "/apple-icon-60x60.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="72x72"
     href="{{ "/apple-icon-72x72.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="76x76"
     href="{{ "/apple-icon-76x76.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="114x114"
     href="{{ "/apple-icon-114x114.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="120x120"
     href="{{ "/apple-icon-120x120.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="144x144"
     href="{{ "/apple-icon-144x144.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="152x152"
     href="{{ "/apple-icon-152x152.png" | absURL }}"
/>

<link 
     rel="apple-touch-icon"
     sizes="180x180"
     href="{{ "/apple-icon-180x180.png" | absURL }}"
/>

<link 
     rel="icon"
     type="image/png"
     sizes="192x192"
      href="{{ "/android-icon-192x192.png" | absURL }}"
     />

<link 
     rel="icon"
     type="image/png"
     sizes="32x32"
     href="{{ "/favicon-32x32.png" | absURL }}"
/>

<link 
     rel="icon"
     type="image/png"
     sizes="96x96"
     href="{{ "/favicon-96x96.png" | absURL }}"
/>

<link 
     rel="icon"
     type="image/png"
     sizes="16x16"
     href="{{ "/favicon-16x16.png" | absURL }}"
/>

<link 
     rel="manifest"
     href="{{ "/manifest.json" | absURL }}"
/>

<meta 
     name="msapplication-TileColor"
     content="#ffffff"
/>

<meta 
     name="msapplication-TileImage"
     content="{{ "/ms-icon-144x144.png" | absURL }}"
/>

<meta 
     name="theme-color"
     content="#ffffff"
/>
