{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">

    {{ partialCached "subscription.html" . }}

    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerSocialTitle }}</h3>
                    {{ with .Site.Params.footerSocialText }}<p>{{ . }}</p>{{ end }}

                    <a class="p-1" target="_blank" rel="noopener noreferrer" alt="{{ i18n "external_link" }}: Twitter" title="{{ i18n "external_link" }}: Twitter"  href="{{- .Site.Params.footerSocialTwitter -}}"><span class="tf-ion-social-twitter"></span></a>

                    <a class="p-1" target="_blank" rel="noopener noreferrer" alt="{{ i18n "external_link" }}: YouTube" title="{{ i18n "external_link" }}: YouTube"  href="{{- .Site.Params.footerSocialYouTube -}}"><span class="tf-ion-social-youtube"></span></a>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerQuicklinkTitle }}</h3>
                    <ul>
                        {{ range .Site.Menus.quicklink }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerServiceTitle }}</h3>
                    <ul>
                        {{ range .Site.Menus.service }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerFundingTitle }}</h3>
                    <img class="img-fluid" src="{{ "images/logos/num_bmbf_logos.jpg" | absURL }}" alt="Logos: Netzwerk Universitätsmedizin & Bundesministerium für Bildung und Forschung">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <h5>{{ .Site.Params.Copyright }}</h5>
    </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}


{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
