{{ if .Site.Params.news.enable }}
{{ "<!-- News Section Start -->" | safeHTML }}
<section class="blog section bg-white" id="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.news.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with .Site.Params.news.title }}<h2>{{ i18n . }}</h2><span class="border"></span>{{ end }}
                    {{ with .Site.Params.news.subtitle }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="col-md-7 text-center">
                <span>{{ i18n "news_teaser"}}</span>
                <a href="{{ with .Site.GetPage "news" }}{{ .URL }}{{ end }}">
                    {{ i18n "news" }}
                </a>
                <span>.</span>
            </p>
        </div>
        <br/>
        <div class="row justify-content-center service-2">
            {{ range first 3 (where .Site.RegularPages "Section" "==" "news") }}
            {{ "<!-- single News post -->" | safeHTML }}
            <article class="col-12 col-md-4">
                <div class="post-item service-item m-3 p-4">
                    <div class="post-title">
                        <h3 class="mt-0">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h3>
                    </div>
                    <div class="post-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span>{{ .Date.Format .Site.Params.dateFormat }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{ .Summary }}</p>
                    </div>
                    <a class="btn btn-main" href="{{ .Permalink }}">{{ i18n "read_more" }}</a>
                </div>
            </article>
            {{ "<!-- /single News post -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- News Section End -->" | safeHTML }}
{{ end }}