{{"<!-- subscription -->" | safeHTML }}
{{ with .Site.Params.subscription }}
<section class="subscription">
  <div class="container">
    <div class="subscription-wrapper">
      <div class="d-flex position-relative mx-5 justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
        <h3 class="text-white flex-fill mb-0">
          {{ i18n "contact_us" | safeHTML }}
          <br>
          <p class="text-white flex-fill mt-3 mb-0"><small>{{ i18n "contact_us_text" | safeHTML }}</small></p>
        </h3>
        <a href='mailto:{{ .mailAddress }}?subject={{ i18n "contact_subject" | safeHTML }}&body={{ i18n "contact_body" | safeHTML }}' class="btn btn-transparent btn-lg mt-4 mr-5 ml-5">{{ i18n "contact_btn" | safeHTML }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{"<!-- /subscription -->" | safeHTML }}
