<br/>
{{ if eq (.Get "position") "right" }}
<div class="row align-items-flex-start mt-4 mb-4">
    <div class="col-md-6 col-sm-12">
        <div class="content">
            {{ with .Get "title"| plainify }}
            <h2 class="mb-3">{{ . }}</h2>
            {{ end }}

            {{ with .Inner | markdownify  }}
            <p>
                {{ . }}
            </p>
            {{ end }}
        </div>
    </div>
    <div class="col-md-1"></div>
    {{ with .Get "image" }}
    <div class="col-md-5 col-sm-12 text-center">
        <img src="{{ . | absURL }}" class="img-fluid p-5" alt="about-image">
    </div>
    {{ end }}
</div>
{{ else }}
<div class="row align-items-flex-start">
    {{ with .Get "image" }}
    <div class="col-md-5 col-sm-12 mb-5 text-center">
        <img src="{{ . | absURL }}" class="img-fluid p-5" alt="about-image">
    </div>
    {{ end }}

    <div class="col-md-1"></div>
    <div class="col-md-6 col-sm-12">
        <div class="content">
            {{ with .Get "title"| plainify }}
            <h2 class="mb-3">{{ . }}</h2>
            {{ end }}

            {{ with .Inner | markdownify  }}
            <p>
                {{ . }}
            </p>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
<br/>