{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.workpackages }}
{{ if .enable }}
{{ "<!-- Work Process Section Start -->" | safeHTML }}
<div class="service-2 wp-short mt-5 mb-5">
  <div class="row justify-content-center">
    {{ range $index, $package:= .item }}
    <div class="col-12 p-0">
      {{  $wp_index := add $index 1 }}
      <div id="wp_{{  $wp_index  }}" class="service-item work-package mb-5">
        {{ with .number }}
        <span class="count mt-3">{{ . }}.</span>
        {{ end }}
        <div class="row">
          <div class="col-12 pl-3 pr-3">
            {{ with .title }}
            <h4>{{ . }}</h4>
            {{ end }}
            {{ with .description }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
          <div class="col-12 pl-3 pr-3">
            {{ $deliverables := sort (where $.Site.RegularPages "Params.workpackage" $package.number) "Params.code" "asc" }}
            {{ with $deliverables}}
            <h4 class="mt-4">{{ i18n "deliverables" }}</h4>
            <dl class="col-12">
              {{ range $index, $item := . }}
              <div class="d-flex d-row">
                {{ with $item.Params.Code }}
                <dt class="pr-3">{{.}}</dt>
                {{end}}
                <dd class="">
                  <p>
                    {{ if $item.Params.Directlink }}
                    <a href="{{ $item.Params.Directlink }}" target="_blank" rel="noopener noreferrer">{{ $item.Title }}</a>
                    {{ else }}
                    <a href="{{ $item.Permalink }}">{{ $item.Title }}</a>
                    {{ end }}
                  </p>
                </dd>
              </div>
              {{ end }}
            </dl>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    {{ end }}
  </div>
</div>
</div>
{{ "<!-- Work Process section end -->" | safeHTML }}
{{ end }}
{{ end }}
